<h1 id="title" class="title">Cambio de contraseña</h1>
<p class="sub-title">Por favor establezca una nueva contraseña</p>

<form aria-labelledby="title">
  <div class="form-group">
    <label class="label" for="input-password">Nueva contraseña:</label>
    <input
      nbInput
      type="password"
      id="input-password"
      name="password"
      class="first form-control"
      placeholder="Nueva contraseña"
      autofocus
      fullWidth
      fieldSize="large"
    />
  </div>

  <div class="form-group">
    <label class="label" for="input-re-password">Confirmar contraseña:</label>
    <input
      nbInput
      id="input-re-password"
      name="rePass"
      type="password"
      class="last form-control"
      placeholder="Confirme su nueva contraseña"
      fullWidth
      fieldSize="large"
    />
  </div>

  <button size="large" class="btn btn-secondary btn-block" (click)="send()">
    Cambiar contraseña
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Atrás para iniciar sesión</a></p>
  <!-- <p><a class="text-link" routerLink="../register">Register</a></p> -->
</section>
