@font-face {
  font-family: 'Open Sans Regular';
  src: url('../../../assets/fonts/Open_Sans/OpenSans-Regular.ttf')
    format('truetype');
  font-weight: lighter;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
  .card {
    z-index: 1041;
    font-size: 10px;
    border-radius: 5px;
    border: 1px solid #515a7b !important;
  }

  .card-header {
    background: #515a7b !important;
    color: #fff;
    font-size: 18px !important;
    padding: 10px !important;
  }

  .card-body.library {
    padding-top: 0 !important;
  }

  .form-control {
    font-size: 12px !important;
  }

  .form-group {
    margin-bottom: 0 !important;
  }

  .form-group-button {
    margin-bottom: 1rem !important;
  }

  input {
    height: 25px;
    border: 1px solid #71c0fb;
    font-size: 10px !important;

    &:focus {
      outline: 0 !important;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }

    &.form-control {
      height: 25px !important;
    }
  }

  button {
    height: 27px !important;
    font-size: 12px !important;
    vertical-align: middle !important;
    padding: 0 5px !important;
    background: #22243d !important;
    border: 1px solid #b2bdce;

    &.navbar-toggler {
      background: #f8f9fa !important;
    }

    &.addon {
      height: 25px !important;
      font-size: 12px;
      vertical-align: middle;
      padding: 0 5px;
      background: #b2bdce;
      border-color: #71c0fb;

      &:focus {
        outline: 0 !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        border-color: #71c0fb;
      }

      &:hover,
      &:invalid {
        border-color: #71c0fb;
        color: #71c0fb;
      }

      &:active {
        outline: 0 !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        border-color: #71c0fb;
      }
    }

    &.aceptar {
      background: #22243d !important;
      color: #fff;

      &:disabled {
        cursor: not-allowed !important;
      }

      &:hover {
        color: #fff !important;
      }
    }

    &.cancelar {
      background: #ef4b6e !important;
      color: #000 !important;
      border: 1px solid #ef4b6e;
    }

    &.new-street:disabled {
      cursor: not-allowed !important;
    }

    &.check-box-yes {
      background: #214f95 !important;
      color: #fff;

      i {
        color: #fff;
      }

      &.form-control:focus {
        font-size: 12px !important;
        color: #fff;
        background: #214f95;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }

    &.check-box-not {
      background: #8895b5 !important;
      color: #fff;

      i {
        color: #fff;
      }

      &.form-control:focus {
        font-size: 12px;
        color: #fff;
        background: #8895b5;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
  }

  label {
    color: #000;
    height: 20px !important;

    &.asterisk-if-mandatory::after {
      content: ' *';
    }

    &.search {
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  span.navigation {
    font-size: 14px;
  }

  span.label {
    font-size: 11px !important;
  }

  span.value {
    font-size: 10px !important;
  }

  ul span li {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 1.25rem;
    color: red !important;
    font-size: 10px !important;
  }

  .info-additional {
    margin: auto;
    font-size: 14px;
    font-weight: lighter;
    font-style: oblique;
  }

  select {
    height: 25px !important;
    padding: 0 !important;
  }

  .mt-18px {
    margin-top: 18px !important;
  }

  .mt-20px {
    margin-top: 20px !important;
  }

  .mt-28px {
    margin-top: 28px !important;
  }

  .round-4px {
    border-radius: 4px !important;
  }

  .round-5px {
    border-radius: 5px !important;
  }

  .border-right-invisible {
    border-right: 0;
  }

  .border-left-invisible {
    border-left: 0;
  }

  .background-transparente {
    background: #b2bdce00 !important;
  }

  .border-left-invisible {
    border-left: 0 !important;
  }

  .errores ul span li,
  span .errores {
    color: red;
  }

  /*==========================================================
   my-overlay para detail
  ==========================================================*/

  .my-overlay {
    z-index: 1040;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.6);
    cursor: default;
  }

  /*==========================================================
      DISPOSITIVOS
    ==========================================================*/

  /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) {
    .menu-sidebar,
    .fixed {
      z-index: 1042 !important;
    }

    .my-pr-2 {
      padding-right: 0.5rem !important;
    }
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .menu-sidebar,
    .fixed {
      z-index: 1042 !important;
    }

    .my-pr-2 {
      padding-right: 0.5rem !important;
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  }

  /*---Medidas particulares*/
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
      z-index: 1043;
    }
  }
}
