<h1 id="title" class="title">Inicio de sesión</h1>
<p class="sub-title">¡Hola! Inicia sesión con tu correo electrónico.</p>

<form aria-labelledby="title">
  <div class="form-group">
    <label class="label" for="input-email">Email address:</label>
    <input
      class="form-control"
      name="email"
      id="input-email"
      pattern=".+@.+\..+"
      placeholder="Email address"
      fieldSize="large"
      autofocus
    />
  </div>

  <div class="form-group">
    <span class="label-with-link">
      <label class="label" for="input-password">Contraseña:</label>
      <a class="forgot-password caption-2" routerLink="../request-password"
        >¿Olvidastes tu contraseña?</a
      >
    </span>
    <input
      class="form-control"
      name="password"
      type="password"
      id="input-password"
      placeholder="Password"
      fieldSize="large"
    />
  </div>

  <div class="form-group accept-group">
    <input type="checkbox" name="rememberMe" /> Recuerdame
  </div>

  <button class="btn btn-secondary btn-block" status="primary" type="button" size="large" (click)="login()">
    Iniciar sesión
  </button>
</form>
