<h1 id="title" class="title">¿Olvidastes la contraseña?</h1>
<p class="sub-title">
  Ingrese su dirección de correo electrónico y le enviaremos un enlace para
  restablecer su contraseña
</p>

<form aria-labelledby="title">
  <div class="form-group">
    <label class="label" for="input-email"
      >Ingrese su dirección de correo electrónico:</label
    >
    <input  id="input-email" name="email" pattern=".+@.+\..+" class="form-control"
    placeholder="Dirección de correo electrónico" autofocus fieldSize="large">
  </div>

  <button class="btn btn-secondary btn-block" size="large" (click)="send()">
    Enviar solicitud
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Regresar</a></p>
  <!-- <p><a routerLink="../register" class="text-link">Register</a></p> -->
</section>
