<div class="row" [hidden]="!loading">
  <div class="col-12 text-center">
    <div class="spinner-grow text-light" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Comunicandose con el servidor, espere por favor...</span>
    </div>
  </div>
</div>
<!-- my-loader.component.html -->
<!-- <div class="row">
  <div class="col-12 text-center">
    <div class="progress-loader" [hidden]="!loading">
      <div class="loading-spinner">
          <img src="https://loading.io/mod/spinner/gear-set/index.svg"> -->
          <!-- <span class="loading-message">Comunicandose con el servidor<br/>Espere un momento por favor...</span> -->
      <!-- </div>
    </div>
  </div>
</div> -->
