.loading-spinner {
  background-color: #0000001f;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: grid;
  justify-items: center;
  z-index: 1500;
  grid

  img {
    align-self: end;
  }
}

.loading-message {
  text-align: center;
  align-self: start;
}
