<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron jumbotron-fluid" style="background-color: transparent;">
        <div class="container">
          <h1 class="display-4"><img src="assets/images/Logotipo-RGB-small.png" alt=""></h1>
          <h2>CMS Module Extern Demo</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row"  style="visibility: hidden;">
    <div class="col-12">
      <a class="nav-link" [routerLink]="['/disa-library-direcciones/content']"  >Contactos content</a>
      <div *ngFor="let module of installedModules$ | async">
      </div>
    </div>
  </div> -->
  <!-- <router-outlet></router-outlet> -->

</div>

